# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
    tags: ['*']
  release:
    types: [published]

name: pkgdown

jobs:
  pkgdown:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      isPush: ${{ github.event_name == 'push' }}
      
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v1

      - uses: r-lib/actions/setup-r@v1
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v1
        with:
          extra-packages: pkgdown
          needs: website
          
      - uses: actions/setup-python@v1
        with:
          python-version: '3.8'
         
#       - name: Setup r-reticulate env
#         run: |
#           reticulate::virtualenv_create("r-reticulate", Sys.which("python"))
#           reticulate::virtualenv_install("r-reticulate", "pylineaGT", pip=TRUE)
#         shell: Rscript {0}

      - name: Build and deploy pkgdown site
        if: contains(env.isPush, 'true')
        run: |
          git config --local user.name "$GITHUB_ACTOR"
          git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
          Rscript -e 'pkgdown::deploy_to_branch(new_process = FALSE)'
          
